@import "bootstrap-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 5rem;
  
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-bg {
    background-color: $brand-primary;
    
    .navbar-brand {
        color: $brand-aprimary;
        font-weight: bold;
    }
}

.bootstrap-tagsinput .badge {
  margin-right: 2px;
  color: white;
  background-color: $brand-aprimary !important;
  border-color: $brand-aprimary !important;
  padding:5px 8px;border-radius:3px;
}

.btn-new{
    float: right;
    margin-bottom: 3px;
    font-size: 0.8em;
    padding: 0.2rem 0.25rem;
    border-width: 0rem;
}
.cv-list {
    .cv {
        border-bottom: 1px dashed $brand-aprimary;
        padding-bottom: 0.5rem;
        
        .nom-cv {
            font-weight: bold;
        }
        .derniere-edition {
            padding-top: 0.5rem;
            float: right;
            color: $gray-600;
            font-size: 0.7em;
        }
        
        .btn {
            background-color: $brand-aprimary;
            border-color: $brand-aprimary;
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
        }
    }
    
}

.tag-list {
    .tag:nth-child(odd){
        background: #ccc;
    }
    .tag:hover{
        background: dimgrey
    }
    .tag{
        border-bottom: 1px dashed $brand-aprimary;
        padding-bottom: 0.5rem;
        background: #fff;
        
        .nom-tag{
            font-weight: bold;
        }
        .derniere-edition {
            padding-top: 0.5rem;
            float: right;
            color: $gray-600;
            font-size: 0.7em;
        }
        
        .btn{
            background-color: $brand-aprimary;
            border-color: $brand-aprimary;
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
            float: right;
            margin-top: 3px;
            margin-left: 3px
        }
    }
}

.btn-print {
            background-color: $brand-aprimary;
            border-color: $brand-aprimary;
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
            margin-top: 10px;
        }

.search-bar{
    width: 100%;
    max-width: inherit;
    margin-bottom: 5px;
}

.name{
    width: 50%;
    margin-bottom: 5px;
}

.summary-textarea{
    width: 50%;
    resize: none;
}

.achievement-list{
    .achievement{
        border-bottom: 1px dashed $brand-aprimary;
        padding-bottom: 0.5rem;
        width: 50%;
        
        .achievement-title{
            margin-bottom: 5px;
            width: 100%;
            font-weight: bold;
        }
        
        .achievement-textarea{
            width: 100%;
            resize: none;
        }
        
        .btn-achievement{
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
            margin-top: 3px;
            margin-left: 3px
        }
    }
    
}

.course-list{
    .course{
        border-bottom: 1px dashed $brand-aprimary;
        padding-bottom: 0.5rem;
        width: 50%;
        
        .course-title{
            margin-bottom: 5px;
            width: 100%;
            font-weight: bold;
        }
        
        .course-school{
            margin-bottom: 5px;
            width: 100%;
            resize: none;
        }
        
        .course-year{
            margin-bottom: 5px;
            width: 100%;
        }
        
        .btn-course{
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
            margin-top: 3px;
            margin-left: 3px
        }
    }   
}

.search-bar-new-CV{
    width: 50%;
    max-width: inherit;
    margin-bottom: 5px;
}

.new-CV-list{
    width: 50%;
    
    .new-CV-element:nth-child(odd){
        background: #ccc;
    }
    .new-CV-element:hover{
        background: dimgrey
    }
    .new-CV-element{
        border-bottom: 1px dashed $brand-aprimary;
        padding-bottom: 0.5rem;
        background: #fff;
        
        .nom-new-CV-element{
            font-weight: bold;
        }

        .btn{
            background-color: $brand-aprimary;
            border-color: $brand-aprimary;
            font-size: 0.8em;
            padding: 0.2rem 0.25rem;
            border-width: 0rem;
            float: right;
            margin-top: 3px;
            margin-left: 3px
        }
    }
}

.date-picker{
    margin-bottom: 5px;
}

.submit-btn{
    margin-top: 5px;
}

.nav{
    .nav-item:hover{
        background: dimgrey;
    }
    .nav-item{
        background: cornflowerblue;
        .nav-link{
            
        }
    }
}
.btn-add-mandate{
    margin-top: 5px;
}
